.window-manager {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: calc(100% - 48px);
    pointer-events: none;

    background-image: url('../../../../public/window_bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.window-manager app-window {
    pointer-events: auto;
}