
<div class="bar">
  <nav class="bottom nav-bar">
    <a class="home nav-item" (click)="toggleHomeMenu()">
      <img src="house.png" alt="home icon" />
      <p>Home</p>
    </a>
    <a class="nav-item" (click)="openWindow({ id: 'projects', title: 'Projects', content: 'Projects', top: 0, left: 0, width: 300, height: 300, isResizable: true, isDraggable: true, isCloseable: true })">
      <p>Projects</p>
    </a>
    <a class="nav-item" (click)="openWindow({ id: 'resume', title: 'Resume', content: 'Resume', top: 0, left: 0, width: 300, height: 300, isResizable: true, isDraggable: true, isCloseable: true })">
      <p>Resume</p>
    </a>
  </nav>
  <app-home-menu *ngIf="isHomeMenuVisible"></app-home-menu>
</div>