.content {
  display: flex;
  flex-direction: row;gap: var(--medium-gap);
  flex-wrap: wrap;

  text-align: justify;
}

.bold {
  font-weight: bold;
}

section {
  border-radius: var(--medium-gap);
  padding: var(--small-gap);
  flex-grow: 1;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: var(--medium-gap);
}

h2, p {
  padding: 0;
  margin: 0;
}

h2 {
  text-align: left;
}

ul {
  margin: 0;
  padding: 0 var(--medium-gap);
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--medium-gap);
}

li {
  flex-grow: 1;
}
.skill-card {
  background-color: #EEE;
  border-radius: var(--small-gap);
}

.skill-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*background-color: var(--color-main);
  color: #FFFFFF;*/
  color: var(--color-main);
  border-radius: var(--small-gap) var(--small-gap) 0 0;
  padding: var(--small-gap) var(--small-gap) 0 var(--small-gap);
}

.skill-desc {
  padding: 0 var(--small-gap) var(--small-gap) var(--small-gap);
  color: #555;
  font-style: italic;
  font-size: 14px;
}

.skill-bot {
  padding: var(--small-gap);
}
