<nav>
  <div class="navbar-left">
    <a id="navbar-main-link" routerLink="/">
      <img src="f-icon.png" alt="icon" id="navbar-icon">
      <p>Portfolio</p>
    </a>
  </div>

  <div class="navbar-center">
    <ul class="navbar-list">
      <li class="navbar-item">
        <a routerLink="/home" routerLinkActive="active" class="navbar-link">Accueil</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/identity" routerLinkActive="active" class="navbar-link">Présentation</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/projects" routerLinkActive="active" class="navbar-link">Projets</a>
      </li>
      <li class="navbar-item">
        <a routerLink="/contacts" routerLinkActive="active" class="navbar-link">Contacts</a>
      </li>
    </ul>
  </div>

  <div class="navbar-right">
    <a href="mailto:lecoatfred+portfolio@gmail.com?subject=Contact depuis le portfolio" class="contact-btn" id="navbar-btn">Contactez-moi !</a>
  </div>
</nav>
